<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="ion-padding-top ion-text-center">Bienvenido a RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="logo">
    <img src="../../assets/img/RegistrAPP.png" alt="Logo registro">
  </div>

  <ion-grid>
    <ion-row>
      <ion-col class="perfil ion-text-center">
        <ion-button color="secondary" [routerLink]="['/login']">Ingresar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <a routerLink="/ionic-component"> Contacto</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title class="ion-padding-top ion-text-center"></ion-title>
  </ion-toolbar>
</ion-footer>